body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-Bold";
}

p{
  color: #8f8f8f;
}

/* heading */

.big-heading{
  font-family: 'Montserrat-Black, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}


/* Sections */

.colored-section{
  color: #ffffff;
  background-color: #ff4c68;
}

.white-section{
  background-color: #ffffff;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.download-button{
  margin: 5% 3% 5% 0;
}


/* Title Section */

#title{
  text-align: left;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* Title image */
.iphone_img{
  width: 21%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}


/* Features Section */

#features{
  padding: 7% 15%;
  position: relative;
}

.feature-box{
  padding: 4.5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.feature-heading{
  font-size: 1.5rem;
}


/* Testimonial Section */

#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  padding-bottom: 4%;
}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing{
  padding: 100px;
}

.princing-col{
  padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.card-margin{
  margin-bottom: 57px;
}



/* cta Section */

#cta{
  padding: 7% 21%;
}


.cta-botton{
  margin-top: 20px;
}

/* Footer Section */

#footer{
  margin: 3% 15%;
}

.footer-icon{
  margin: 10px;
}



/* CSS For mobile */

@media(max-width: 1000px){
  #title{
    text-align: center;
  }
  .iphone_img{
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
